streamlit>=1.28
langchain>=0.0.217
openai>=1.2
duckduckgo-search
anthropic>=0.3.0
trubrics>=1.4.3
streamlit-feedback
langchain-community

opentelemetry-api==1.36.0
opentelemetry-sdk==1.36.0
opentelemetry-proto==1.36.0
opentelemetry-exporter-otlp==1.36.0
opentelemetry-exporter-otlp-proto-grpc==1.36.0
opentelemetry-exporter-otlp-proto-http==1.36.0
opentelemetry-semantic-conventions==0.57b0
opentelemetry-instrumentation==0.57b0

arize>=7.49,<8
arize-otel==0.10.0
openinference-instrumentation>=0.1.38
markdown
weasyprint